	  .card {
	    height: 230px;
	    width: 170px;
	    color:white;
	    font-size: 24px;
	    margin: auto;
	    display: inline-block;
	    margin-right: 50px;
	    margin-bottom: 40px;
	    cursor: pointer;
	    margin-top: 40px;
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center center;
	    margin-left: 50px;
	    transform: rotateY(0deg);
	    transition: all 0.8s ease;
	}

	#failcounter {
	    margin-left: 15px;
    	    margin-right: 15px;
    	    font-size: 22px;
	}

	#cardbackSelector {
	    background-color: rgb(253, 253, 253);
	    border-width: 1px;
	    border-style: dashed;
	    border-color: rgb(0, 0, 0);
	    border-image: initial;
	    border-radius: 0;
	    margin: 20px;
	    -webkit-appearance: none;
	    -webkit-border-radius: 0px;
	    outline-width: 0;
	    padding: 10px 10px 10px 5px;
	    display: block;
	    width: 10em;
	    display: inline-block;
	}

	.btn {
	    background-color: white;
	    border: dashed;
	    border-width: 1px;
	    padding: 12px;
	    width: 100px;
	    border-color: black;
	    border-radius: 0;
	}

	#themeSelector {
	    background-color: rgb(253, 253, 253);
	    border-width: 1px;
	    border-style: dashed;
	    border-color: rgb(0, 0, 0);
	    border-image: initial;
	    border-radius: 0;
	    margin: 20px;
	    -webkit-appearance: none;
	    -webkit-border-radius: 0px;
	    outline-width: 0;
	    padding: 10px 10px 10px 5px;
	    display: block;
	    width: 10em;
	    display: inline-block;
	}

	.blackandwhite {
	    background-image: url('../img/tiger.gif');
	}

	.gamer {
	    background-image: url('../img/gamer.png');
	}

	.classic{
	    background-image: url('../img/classic.png');
	}

	.flipped {
	    pointer-events: none;
	}

	.cardOk {
	    height: 230px;
	    width: 170px;
	    color:white;
	    font-size: 24px;
	    margin: auto;
	    display: inline-block;
	    margin-right: 50px;
	    margin-bottom: 40px;
	    cursor: pointer;
	    margin-top: 40px;
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center center;
	    margin-left: 50px;
	    transform: rotateY(180deg);
	}
	.bottommarg {
		margin-bottom: 10px;
		margin-right: 10px;
	}
	#tiles {
		/* max-width: 940px; */
		width: 100%;
		margin:auto;
		transition: 0.6s;
		transform-style: preserve-3d;
		position: relative;
	}

	.allin {
		perspective: 1000px;
	}
	.numbers {
		font-size: 28px;
		color: white;
		pointer-events: none;
	}


	.transition {
		transform: rotateY(180deg);
	}

	#youWin {
		width: 100%;
		height: 100vh;
	    position: absolute;
	    z-index: 999;
	    background-color: rgba(96, 125, 139, 0.53);
	    text-align: center;
	}
